.logField {
  margin: 10px 0px;
}

.loginBtn {
  margin-top: 10px;
  cursor: pointer;
}

.loginUsername {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  width: 200px;
}

.loginPassword {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  width: 200px;
}
