.learn {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding-top: 15px;
}

.learn span {
  background: url("./vatican1.jpg");
  background-size: 100%;
  background-position: unset;
  padding: 35px 0px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 900;
}

.learn h2 {
  margin-top: 0px;
  font-size: 25px;
}

.form {
  display: flex;
  flex-direction: column;
}

.submitAnswer {
  margin: auto;
  width: 150px;
}

.learn-guess-input {
  margin: 15px auto;
  width: 175px;
}

.DisplayScore {
  margin-bottom: 0px;
}

.DisplayScore p {
  font-size: 14px;
}
